* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

.container {
  width: 700px;
  margin: 0 auto;
  border: 4px solid black;
}

h2 {
  background-color: #e7e3e3;
  width: 100%;
}

div.button {
  border-top: 51px black;
}

button {
  border: none;
  margin: 0 auto;
  background-color: black;
  color: rgb(255, 255, 255);
  width: 100%;
  text-align: center;
  line-height: 3;
}

ul {
  padding-left: 20px;
}
li {
  margin-bottom: 10px;
}

button:hover {
  background-color: rgb(255, 255, 255);
  color: black;
  padding-bottom: 0px;
}

.product-title {
  text-align: center;
  font-size: 22px;
}

.price {
  font-size: 24px;
  margin-bottom: -5px;
}

.freeshipping {
  color: #777;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 15px;
}

.more-info:link,
.more-info:visited {
  color: black;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}
.readytodress {
  margin-bottom: 5px;
}

/* PRODUCT DETAILS */
.details-title {
  text-transform: uppercase;
  font-size: 16px;
}
.details-list {
  list-style: square;
}

.addcart {
  background-color: black;
}
