* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

.container {
  width: 700px;
  margin: 50px auto;
  position: relative;
}

h2 {
  background-color: #e7e3e3;
  width: 100%;
}

h3 {
  margin-bottom: 10px;
  margin-top: 20px;
}

button {
  border: 2px solid black;
  border-bottom: none;
  border-left: none;
  border-right: none;
  margin: 0 auto;
  background-color: black;
  color: rgb(255, 255, 255);
  width: 100%;
  text-align: center;
  line-height: 3;
}

ul {
  padding-left: 20px;
}
li {
  margin-bottom: 10px;
}

button:hover {
  background-color: rgb(255, 255, 255);
  color: black;
  padding-bottom: 0px;
}

.product {
  border: 4px solid black;
  width: 825px;
  margin-bottom: none;
}

.product-title {
  text-align: center;
  font-size: 22px;
  padding: 15px;
  width: auto;
}

.price {
  font-size: 24px;
  margin-bottom: -5px;
}

.freeshipping {
  color: #777;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 15px;
}

.more-info:link,
.more-info:visited {
  color: black;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}
.readytodress {
  margin-bottom: 5px;
}

div.border-bottom {
  border: 4px solid black;
  border-top: none;
  width: 825px;
}

div.container::after {
  content: "SALE";
  background-color: #ff0000;
  display: inline-block;
  color: white;
  font-size: 10px;
  padding: 5px 15px;
  font-weight: bold;
  position: absolute;
  top: -10px;
  left: -25px;
  border: 0.5px solid black;
}

/* PRODUCT DETAILS */
.details-title {
  text-transform: uppercase;
  font-size: 16px;
}
.details-list {
  list-style: square;
}

.addcart {
  background-color: black;
  width: 100%;
}

/* COLOR BAR CODE */

div.color-bar p {
  display: inline-block;
  padding: 10px;
  margin-top: 20px;
}

div.color-bar p:first-child {
  margin-left: none;
}
